@charset "UTF-8";
/*Estilo para impressora*/

*{
    margin: 0px;
    padding: 0px;
}
html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    letter-spacing: 1.5px;  
    
}

header{
    background-color: grey;
    text-align: center;
    color: white;
}
h2, p {
    text-align: justify;
    padding: 10px;
}

menu ul{
    list-style-type: none;
    background-color: rgb(42, 63, 63);
    
}
menu li{
    display: inline-block;
    background-color: black;
    padding: 10px;
}