@charset "UTF-8"

    body{}
    body{
        background-color: rgb(0, 0, 0); 
        color: rgb(5, 5, 5); 
        font-family: Arial, Helvetica, sans-serif;}

    h1 {
        color: rgb(0, 0, 0); 
        background-color: #f1da0d; 
        font-family: Arial, Helvetica, sans-serif;}
        
    a {
        color: rgb(252, 252, 252);
        font-family: Arial, Helvetica, sans-serif;}
    
    p {
        color: #fcfdfd;
        font-family: Arial, Helvetica, sans-serif;}

    
