@charset "UTF-8"

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

section#cabeça{
    background-color: black;
}
*{
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}
main{
    max-width:1200px ;
    margin: auto;
    border: 3px solid;
    padding-top: 10vh;
    padding-bottom: 10vh;
}
header > p > a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
html, body {
    min-height: 100vh;/*utilizar o vh facilitou a reposição*/
}
header{
    background-color: black;
    margin: auto
    
}
h1{
    color: white;
    font-variant: small-caps;
    font-size: 10vw; /*utilizar o vh facilitou a reposição*/
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header > p{
    color: white;
    text-align: center;
    text-decoration:underline;
    font-weight: bolder;
    padding-bottom: 50px;
}

section{
    font-size: 3.5vw;
    font-family:'Courier New', Courier, monospace;
    margin: 0px;
    border: 0px;
    padding: 10vh; /*utilizar o vh facilitou a reposição*/
}
#imageflor p{
    background-color:  rgba(0, 0, 0, 0.514);
    width: 60%;
    color: white;
}
#imageflor{
    background-image: url('imagens/background001.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: right center;
}
#imagefolhas p{
    background-color:  rgba(0, 0, 0, 0.514);
    width: 60%;
    color: white;    
}
#imagefolhas{
    background-image: url('imagens/background002.jpg');
    background-attachment: fixed;
    background-size: cover;
}
#rodape{
    text-align: center;
    border: 3px solid black;
    padding: 0px;
    max-width:1200px ;
    margin: auto;
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}